<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>What's my IRIS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <% //meta SEO %>
    <meta name="description" content="Emplois du temps de l'école Iris Strasbourg" />
    <meta name="keywords" content="calendar, calendrier, school, ecole, iris, mediaschool" />
    <meta name="author" content="Grimaldi Baptiste, Grimaldev" />

    <% //favicon %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <% //Stylesheets %>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--    <script async src="https://ga.jspm.io/npm:es-module-shims@1.7.0/dist/es-module-shims.js"></script>-->

    <% //full calendar imports %>
<!--    <script type="importmap">-->
<!--      {-->
<!--        "imports": {-->
<!--          "@fullcalendar/core": "https://cdn.skypack.dev/pin/@fullcalendar/core@v6.1.1-6ZgB0Pv3Yek381qRourC/mode=imports,min/optimized/@fullcalendar/core.js",-->
<!--          "@fullcalendar/daygrid": "https://cdn.skypack.dev/pin/@fullcalendar/daygrid@v6.1.1-RqZScTREejF8cFbXlCcz/mode=imports,min/optimized/@fullcalendar/daygrid.js",-->
<!--          "@fullcalendar/timegrid": "https://cdn.skypack.dev/pin/@fullcalendar/timegrid@v6.1.1-pbMnmEw6JSmwZA0klM5v/mode=imports,min/optimized/@fullcalendar/timegrid.js",-->
<!--          "@fullcalendar/list": "https://cdn.skypack.dev/pin/@fullcalendar/list@v6.1.1-2xlPEt14J0cGOl3MIgBP/mode=imports,min/optimized/@fullcalendar/list.js"-->
<!--        }-->
<!--      }-->
<!--    </script>-->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WTT793YJ4X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WTT793YJ4X');
    </script>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>

    <% //full calendar lang %>
    <script src="/fullcalendar/core/locales/fr.js" type="module"></script>

    <% //full calendar config %>
    <script>
      <%- include('../public/javascripts/calendar-render.js') -%>
    </script>

    <% //animations %>
    <script defer src="/javascripts/animations.js"></script>

  </head>
  <body>
    <div id="loading-screen">
        <div id="loading-screen__content">
          <img id="loading-screen__backimage" src="/assets/images/loading-calendar.png" alt="Loading calendar">
          <img id="loading-screen__frontimage" src="/assets/images/loading-banner.png" alt="Loading banner">
        </div>
    </div>
    <div id="choose-team">
      <div>
        <h1>Welcome to What's my IRIS</h1>
        <h2><%= date %></h2>
        <h3>Choisissez votre équipe</h3>
      </div>
      <div id="choose-team__teams" class="team-select__container">
        <div class="team-select">
            <label class="team-select__content" for="team-BTS1-first">
              <input class="team-select" type="checkbox" id="team-BTS1-first" name="BTS1" value="BTS1">
              BTS1
            </label>
        </div>
        <div class="team-select">
            <label class="team-select__content" for="team-BTS2-SISR-first">
              <input class="team-select" type="checkbox" id="team-BTS2-SISR-first" name="BTS2-SISR" value="BTS2-SISR">
              BTS2-SISR
            </label>
        </div>
        <div class="team-select">
            <label class="team-select__content" for="team-BTS2-SLAM-first">
              <input class="team-select" type="checkbox" id="team-BTS2-SLAM-first" name="BTS2-SLAM" value="BTS2-SLAM">
              BTS2-SLAM
            </label>
        </div>
      </div>
      <div id="choose-team__action">
        <button id="foot" onclick="start()"><button class="button-os" onclick="start()"><a href="#">SUIVANT</a></button></button>
        <script>
          function start() {
            //check the corresponding team selects according to the previous selected ones
            const teamsFirst = document.querySelectorAll("#choose-team__teams .team-select .team-select__content input");
            const teamsInterface = document.querySelectorAll("#selectors .team-select .team-select__content input");
            const teamsCheckedFirst = [];
            for (let i = 0; i < teamsFirst.length; i++) {
              if (teamsFirst[i].checked) {
                teamsCheckedFirst.push(teamsFirst[i].value);
              }
            }
            for (let i = 0; i < teamsInterface.length; i++) {
              if (teamsCheckedFirst.includes(teamsInterface[i].value)) {
                teamsInterface[i].checked = true;
              }
            }
            document.getElementById("choose-team").style.display = "none";
          }
        </script>
      </div>
    </div>
    <main>
      <!--Popup-->
      <div id="event-popup">
          <div id="event-popup__content">
            <div id="event-popup__header">
                <h2 id="event-popup__title"></h2>
            </div>
            <div id="event-popup__body">
                <div id="event-popup__description"></div>
                <div id="event-popup__location"></div>
                <div id="event-popup__time"></div>
            </div>
          </div>
      </div>
<!--      <div id="date">-->
<!--        <h1><%= date %></h1>-->
<!--      </div>-->
      <div id="selectors" class="team-select__container">
        <!--Select teams-->
        <% for (let i = 0; i < teams.length; i++) { // teams is a local variable %>
        <div class="team-select">
          <label class="team-select__content" for="team-<%= teams[i] %>">
            <input class="team-select" type="checkbox" id="team-<%= teams[i] %>" name="team-<%= teams[i] %>" value="<%= teams[i] %>">
            <%= teams[i] %>
          </label>
        </div>
        <% } %>
      </div>
      <!--Calendar-->
      <div id="calendar"></div>
    </main>
  </body>
</html>
